@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
/* 
==========================================================================================================================================
marvel container
=========================================================================================================================================
 */

.conrow {
   font-family: 'Nunito', sans-serif;
   /* background: #cc6666; */
   height: 314px;
   box-sizing: border-box;
   display: flex;
   margin: 2em 8em;
   justify-content: space-between;
   align-items: center;
   /* border: 2px solid red; */
}

.lastconrow{
   font-family: 'Nunito', sans-serif;
   /* background: #cc6666; */
   height: 314px;
   box-sizing: border-box;
   display: flex;
   margin: 2em 19.4em;
   /* border: 2px solid red; */
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;


}
.concolumn {}

.conimg {
   width: 180px;
   transition: all 0.4s;
   box-shadow: 4px 4px 18px 2px;
}
.conmoviename{
   /* overflow: ; */
   margin-top: 10px;
   margin-left: 10px;
   transition: all 0.4s;
}
.conmovieyear{
   padding-left: 10px;

   transition: all 0.4s;
}

.concolumn:hover>.conimg {
   margin-bottom: 20px;


}

.conmoviename {
   font-weight: bold;
   font-size: 14px;

}

.concolumn:hover>.conmoviename {
   color: #e6252a;
   /* transform: translate3d(20px, 0px, 0px)  ; */

}

.conmovieyear {
   font-size: 12px;
}

.concolumn:hover>.conmovieyear {
   /* transform: translate3d(20px, 0px, 0px)  ; */
}