@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Rubik:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;

}

/* 
==========================================================================================================================================
navbar
=========================================================================================================================================
 */

nav {
    font-family: sans-serif;
    background-color: #202020;
    display: flex;
    /* width: 84%; */
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    height: 40px;

}

.logo {
    width: 70px;
    padding-left: 50px;
}

nav ul {
    z-index: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {


    font-size: 16px;
    text-decoration: none;
    color: rgb(206, 206, 206);
    padding: 20px;
    transition: all .4s;



}

nav ul li a:hover {
    color: red;

}






.subj a {
    background: #f9004d;
    color: rgb(248, 248, 248);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.subj a:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

#iconnav {
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 80px;
    float: left;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;


}

#click {
    display: none;
}

#click:checked~ul {
    left: 0%;
}



#click:checked~.imq:before {
    display: none;
}

@media (max-width: 909px) {
    #iconnav {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #202020;
        ;
        top: 80px;
        left: -100%;

        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul.show {
        left: 0;
    }
}





















/* 
==========================================================================================================================================
marvel mainhead
=========================================================================================================================================
 */


.container {
    /* background: #f4f4f4; */
    background: #f4f0e9;

}

.mainhead1 {

    box-shadow: inset 0px 20px 13px -11px;
    background: #e7d6b8;
    font-family: 'Cute Font', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*     
    border-bottom-right-radius: 40px;
    border-bottom-left-radius:40px ; */


}

.mainheadlarge {
    font-size: 60px;
    padding: 10px 20px;
    padding-left: 60px;
    color: #24241e;
    transition: all .4s;

    /* text-shadow: -5px 4px 9px #ff0000; */
}

.hearticon {
    transition: all 1.4s;
    color: #24241e;
    font-size: x-large;
}

.mainhead1:hover>.hearticon {
    transform: rotate3d(-1344, -1544, -1343, 720deg);
    cursor: pointer;
    color:  #f80542;
    font-size: xx-large;
    /* text-shadow: #f9004d; */

}

.mainheadsmall {
    font-size: 40px;
    transition: all .4s;

    padding: 10px 20px;
    /* text-shadow: 5px 4px 9px #ff0000; */
    color: #44433d;
}









.mainhead2 {

    /* height: 180px; */
/* display: flex; */
    box-shadow: inset 0px 0px 14px 3px;
    font-family: 'Cute Font', sans-serif;
    display: inline-block;

    /* margin-left: 30px ; */
    font-size: 27px;
    margin: 30px 0px 20px 125px;
    background: #edb348;
    transition: all 0.8s;
    color: #25171c;
}

.mainheadx {
    transition: all 0.4s;



    padding: 10px 25px;
}

.mainhead2:hover {
    background: #ffffff;
    color:  #d8a84f;
    
    transform: rotateX(30deg);
    transform: translate3d(40px, 0px, 0px)  ;
   
}
















