*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}




/* 
==========================================================================================================================================
navbar
=========================================================================================================================================
 */

nav{background-color: 
    #eff4fd;
    display: flex;
    /* width: 84%; */
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 90px;
    padding-left: 60px;
}

nav ul{
    z-index: 1;
}

nav ul li {
display: inline-block;
list-style: none;
margin: 10px 20px;
}

nav ul li a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}







.subj a {
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.subj a:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

#iconnav {
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 80px;
    float: left;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
   

}
#click{
    display: none;
}
#click:checked ~ ul {
    left: 0%;
}



#click:checked ~ .imq:before{
    display: none;
}
@media (max-width: 909px) {
    #iconnav {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:  #eff4fd;;
        top: 80px;
        left: -100%;

    text-align: center;
    transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul.show{
        left: 0;
    }
}

















.hero{
    width: 100%;
    height: 100vh;
    background-color: #eff4fd;
    position: relative;
}

.date1{
    margin-top: 15%;
    margin-left: 8%;
}

.date1 h2{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
h1 span{
    color: rgb(0, 225, 150);
    transition: .4s;
}
h2 span{
    color: orange;
    transition: .4s;
}





.date1 p{
    color: #555;
    line-height: 22px;
}


.imq{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.imq img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.imq:hover .qwqe{
    bottom: 40px;
}
.imq:hover .mainsd{
    left: 45%;
}









/* =========================================================================================================================== 
 Links
=========================================================================================================================== */


.centerdiv{
    /* height: 100vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;

}


.centerdiv a{   
    height: 60px;
    width: 60px;
  
    background-color: #00000000;

    margin: 10px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 1px 4px 2px #444444;
   line-height: 60px;
   position: relative;
   overflow: hidden;

  
}




.fa-instagram{
color: #e84393;
}

.fa-facebook{


}
.fa-youtube{
    color: #e84118;

}
.fa-twitter{
    color: #0097e6;

}
.centerdiv a i{
    transition: all 0.3s linear ;
    background: transparent;
}
.centerdiv a:hover .fa{
    transform: scale(1.4);
    color: rgb(255, 255, 255);
}

.centerdiv a:before{
    content: "";
    width: 120%;
    height: 120% ;
    position: absolute;
    top: 90%;
    left: -50%;
    background-color: #14dcace6;
    transform: rotate(60deg);
}

.centerdiv a:hover:before{
    animation: socialicons 0.8s 1 ;
    animation-fill-mode: forwards;
}

@keyframes socialicons {
    0%{
        top:90%;left: -50%;
    }
    50%{
        top: -60%;
        left:-10% ;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}







/* @media (max-width:1150px){
    .imq{
        right: 20px;
    }

} */
@media (max-width:1150px){
    .date1{

        width: 38%;
    }

}
@media (max-width:1150px){
  
.imq {
    width: 31%;
    height: 55%;
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.date1 {
    margin-top: 7%;
    margin-left: 8%;
}
}
@media (max-width: 910px){
.date1 {
    margin-top: 3%;
    margin-left: 9%;
    width: 27%;
}
.date1 h1{
    font-size: 20px;
}
.date1 h2 {
    font-size: 34px;
    color: black;
    margin-bottom: 20px;
}
.centerdiv a {
    height: 60px;
    width: 60px;
    background-color: #00000000;
    margin: 1px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 1px 4px 2px #444444;
    line-height: 60px;
    position: relative;
    overflow: hidden;
}
}


@media (max-width: 640px){
    .hero{
        background-color: #ffffff;
    }
.date1 {
    display: grid;
    margin-top: 3%;
    margin-left: 25%;
    width: 27%;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;

}
.imq {
    WIDTH: 63%;
    height: 43%;
    position: absolute;
    bottom: -130px;
    right: 111px;
}
.imq:hover .qwqe {
    bottom: 20px;}
}
/* @media (max-width: 1590px){
    .date1 {
        margin-top: 3%;
        margin-left: 8%;
    }
} */
@media (max-width: 400px){
    .imq{
        width: 39%;
    }
    .date1 {
        margin-left: 15%;
    }
}
@media (max-width: 350px){
    .imq{
        width: 30%;
    }
}

@media (max-width: 300px){
    .imq{
     width: 15%;

    }
    .date1{
        margin-left: 2%;

    }
}